# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
- List popular languages for Data Science
- List libraries for Data Science 
- Data Science Tools

### Some of the popular languages that Data Scientists use are:

- Python
- R
- SQL

### Some of the commonly used libraries used by Data Scientists include:

- Keras
- Numpy
- Pandas
- TensorFlow

| Data Science Tools |
| ------------------ |
| Hadoop             |
| Spark              |
| Jupyter Notebooks  |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author: Luis Nagano